<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='Home.css') }}" media="screen">
  
    <title>Document</title>
</head>

<body>
    <div class="v17_19">
        <div class="v87_26"></div>
        <div class="name"></div>
      <div class="v22_123 hoverFeat"><span class="v46_3"><a href="meet.html">Meet the team of campers that created this project</a></span></div><span class="v21_62">AI de<span class="RED">tech</span>tor</span>
        <div class="v22_130 hoverFeat"><a href="timeline.html"><span class="v46_4">See the Timeline of Events that <br>occurred throughout this project</span></a></div>
      <div class="v22_131 hoverFeat"></div><span class="v57_8"><a href = "https://www.ai-camp.org/">Visit AI Camp!</a></span>
        <div class="v22_126 hoverFeat"><span class="v22_127"><a href="overview.html">A state-of-the-art AI detection program able to identify
          technology in everyday scenarios</a></span></div>
<!--       <span class="v22_127">A state-of-the-art AI detection program able to identify
            technology in everyday scenarios</span> -->
        <div class="v20_111"></div><span class="v20_114">
      <a class="u-btn u-button-style u-palette-4-dark-2 u-text-white u-btn-1"   href="#" id="seefood_button">
        <style> a { text-decoration: none; } </style>

                    <form id="seefood_form" method="post" enctype="multipart/form-data">
                        <input id="seefood_input_field" name="file" type="file" onchange="this.form.submit();" hidden="">
                    </form>
                    Try it now!
                </a>


</span>

        <div class="v57_4">
            <div class="v57_5">
<!--             <div class="v57_6"></div> -->
                            <div class="v57_3"></div>
         <span class="v17_124">Group Intel AI CAMP</span>
          </div></div>
        <div class="v17_158">
          <div class="v17_159"></div>
          <span class="v17_202"><strong></strong>
          </span>
          <span class="homeButton"><a href="{{ url_for('home') }}">Home</a></span>
          <span class="v17_203"><a href="overview.html">Overview</a></span>
          <span class="v17_204"><a href="meet.html">Meet the Team</a></span>
          <span class="v17_206"><a href="timeline.html">Timeline</a></span>
          <div class="v39_169"></div>
        </div>
    </div>
  
  
      <!--js for uploading/-->
    <script>
        // added to get upload with a button working
        document.getElementById('seefood_button').addEventListener('click', openDialog);

        function openDialog() {
            document.getElementById('seefood_input_field').click();
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#spinner").bind("ajaxSend", function () {
                $(this).show();
            }).bind("ajaxStop", function () {
                $(this).hide();
            }).bind("ajaxError", function () {
                $(this).hide();
            });
            // seefood_input_field
            $('#seefood_button').click(function () {

            });

        });
    </script>

</body>

</html>