<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='Meet.css') }}" media="screen">
  <title>Document</title>
</head>

<body>
  <div class="v157_2"><span class="title">Meet the Team</span>
    <div class="v157_5"></div><span class="v157_6">Nishchay Jasuja:
      Nishchay is an incoming sophmore at university preparatory academy. He helped with Data Collection and creating
      the get_conf_matrix function</span><span class="v157_8">Theo Zak: Theo Zak is an incoming freshman at the Branson School in California. He worked on
      the website design as well as several data management functions.
</span>
    <div class="v157_11"></div>
    <div class="v157_12"></div>
    <div class="v157_13"></div>
    <div class="v157_14"></div>
    <div class="v157_15"></div>
    <div class="v157_16"></div>
    <div class="v157_17"></div>
    <div class="v157_18"></div>
    <div class="v157_19"></div>
    <div class="v157_20"></div>
    <div class="v157_21"></div>
    <div class="v157_42"></div>
        <div class="v157_43">
      <div class="v157_44"></div>
    </div>
    
    <div class="v157_22">
      <div class="v157_23"></div>
      <div class="v157_24"></div>
    </div><div class="v57_5">
<!--             <div class="v57_6"></div> -->
                            <div class="v57_3"></div>
         <span class="v17_124">Group Intel AI CAMP</span>
    </div>
    <div class="v157_27">
      <div class="v157_26"></div>
      <div class="v157_28"></div>
      <span class="v157_29"><a href="{{ url_for('home') }}">Home</a></span>
      <span class="v157_30"><a href="overview.html">Overview</a></span>
      <span class="v157_31"><a href="meet.html">Meet the Team</a></span>
      <span class="v157_32"><a href="timeline.html">Timeline</a></span>
      <div class="v157_33"></div>
      <div class="v157_34"></div>
      <div class="v157_35"></div>
      <div class="v157_42"></div>
    </div>
    <span class="v157_36">Jaywu Jun: Jaywu is an incoming sophomore at Ridgewood High School in New jersey. He helped to
      create the IOU function and created the project idea.</span>
    <span class="v157_37">Dhruv Karia (Teacher Assistant):
      Dhruv is a student at the University of Washington.</span>
    <span class="v157_38">Peter Dickinson: Peter is an incoming freshman at south Pasadena Highschool. worked on
      converting the image files into a format for the ai</span>
    <div class="v157_39"></div>
    <span class="v157_40">Donovan Fox: Donovan is going into Austin high in Texas and helped
      with data collection i think


    </span><span class="v157_41">Brandon Lee: Brandon attends Leland high school in California as an incoming sophomore. <br>He collected and labeled data and helped on the website.</span>
    

  </div>
</body>

</html>