<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='Overview.css') }}" media="screen">

    <title>Document</title>
</head>

<body>
    <div class="v17_533"><span class="v22_59">Overview</span>
      <div class="v45_20">
            <div class="v45_21"></div>
            <span class="v45_22"><a href="{{ url_for('home') }}">Home</a></span>
            <span class="v45_23"><a href="overview.html">Overview</a></span>
            <span class="v45_24"><a href="meet.html">Meet the Team</a></span>
            <span class="v45_25"><a href="timeline.html">Timeline</a></span>
            <div class="v45_26"></div>
            <div class="v45_27"></div>
            <div class="v45_28"></div>
        </div>
        <div class="v17_629"></div><span class="v17_634">In the modern era, our world is dominated by technology. The
            rise of the internet made our lives more integrated than ever with the so-called “information superhighway.”
            However, this has had its downsides. Student engagement is often unreliable, as many students will sneak in
            phones or tablets. Airport security agents have to identify technology quickly in a time-sensitive
            environment, and millions of tons of electronic waste is generated each year, a lot of it still usable. What
            if an AI could help solve these problems?

            That's why we made this.

            This is the AI Detechtor. An object detection AI, with amazing potential. A tool that could prove very
            valuable for schools, Airports, and everyday activities. Our AI is able to detect 6 forms of common
            technology. Phones, laptops, headphones, keyboards, tablets, and game controllers.</span>
        <div class="v42_2"></div>
        
        <div class="v58_6"></div>
        <div class="v57_29">
            <div class="v57_30"></div>
            <div class="v57_31"></div>
        </div><div class="v57_5">
<!--             <div class="v57_6"></div> -->
                            <div class="v57_3"></div>
         <span class="v17_124">Group Intel AI CAMP</span>
          </div>
    </div>
</body>

</html>